@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container {
	background-color: aqua;
	height: 60vh;
	width: 80vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	/* flex-wrap: wrap; */
}

.box {
	display: flex;
	height: 20vh;
	flex-basis: 40vh;
	/* width: 40vh; */
	justify-content: center;
	align-items: center;
}

.box:nth-of-type(1) {
	/* flex-grow svojstvo sluzi da definisemo sirinu naseg kontejnera. Nije praksa koristiti uz njega i width */
	/* flex-grow: 1; */
	/* flex-shrink svojstvo dolazi do izrazaja kada suzavamo ekran. Sto je veca vrednost ovog svojstva, to se taj box vise suzava. */
	/* flex-shrink: 1; */
	background-color: blue;
	/* align-self: flex-end; */
	/* order: 2; */
	/* width: 100px; */
}

.box:nth-of-type(2) {
	background-color: red;
	/* align-self: center; */
	/* flex-grow: 1; */
	/* flex-shrink: 2; */
	/* order: 3 */
}

.box:nth-of-type(3) {
	/* order: 1; */
	/* flex-grow: 1; */
	/* flex-shrink: 3; */
	background-color: orange;
}
