@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.main {
	display: inline-block;
	height: 300px;
	width: 300px;
	margin: 15px;
	background: blue;
	padding: 20px 15px;
	border: 2px dotted black;
	overflow: auto;
}

.main .text2:hover {
	background-color: pink;
}

.text1 span {
	color: red;
}

.text2 span {
	color: yellow;
}

.text3 span {
	color: blueviolet;
}

.main {
	background-image: url("./image.jpg");
	background-size: 200px 100px;
	/* 200px sirina 100px visina */
	background-repeat: no-repeat;
}
