* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	height: 100vh;
}

.osamdeset {
	width: 80%;
	background-color: #8b8376;
}
.osamdeset h1 {
	font-size: 42px;
}

.sidebar {
	width: 20%;
	background-color: red;
}
