* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
	text-align: center;
}
.parent {
	margin: 0 auto;
	width: 80%;
	height: 40vw;
	background-color: #7878e4;
}

.child {
	width: 200px;
	height: 200px;
	background-color: #a644af;
	/*     naziv animacije trajanje funkcija ostaje na mestu izvrsenja broj ponavljanja svako pomeranje predstavlja jedno izvrsenje */
	animation: myanimation 3s ease-in forwards infinite alternate;
}

.parent:hover .child {
	/* animation: myanimation 1s ease-in forwards infinite; */
	/* animation: myanimation 3s ease-in forwards 3; */
	animation-play-state: paused;
}

@keyframes myanimation {
	33% {
		background-color: red;
		transform: translate(300px, 100px);
	}
	66% {
		background-color: yellowgreen;
		transform: translate(350px, 160px);
	}
	100% {
		transform: translatey(173%);
		border-radius: 50%;
	}
}
